<!doctype html>
<html>
<head>
    <title>Ferns & Petals</title>
    <base href="~/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/lib/npmlibs/@@angular/material/core/theming/prebuilt/indigo-pink.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,300,100" />
    <!-- FontAwesome for md-icon demo. -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <style>
        body{margin:0}
    </style>
    <script src="~/lib/npmlibs/core-js/client/shim.min.js"></script>
    <script src="~/lib/npmlibs/zone.js/dist/zone.js"></script>
    <script src="~/lib/npmlibs/reflect-metadata/Reflect.js"></script>
    <script src="~/lib/npmlibs/systemjs/dist/system.src.js"></script>
    <script src="systemjs.config.js"></script>
    <script src="http://hammerjs.github.io/dist/hammer.min.js"></script>
    <script>
      System.import('app').catch(console.error.bind(console));
    </script>
</head>
<body>
    <app-root>Loading...</app-root>
</body>
</html>